body {
    background: black;
}
.calc {
    display: table;
    background-color: gray;
    padding: .1em;
    width: 13em;
}
.row {
    display: table-row;
}
#screen {
    background: white;
    width: 13em;
    text-align: right;
}
.button {
    display: table-cell;
    border: solid 1px rgb(248, 144, 162);
    width: 3em;
    height: 3em;
    margin: .1em;
    padding:1em;
}
.button:active {
    background: rebeccapurple;
}
